<section class="hero is-link is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <%= link_to root_path class:'navbar-item' do %>            
            <span class='has-text-weight-bold is-size-4 ml-4'> Foodlog </span>
            <% end %>
          </a>
        </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
      <% if content_for(:title) %>
        <%= yield :title%>
        <% else %>
        Foodlog
        <% end %>
      </p>
      <p class="subtitle">
        <%= DateTime.now.strftime("%B %d, %Y") %>
      </p>
    </div>
  </div>
</section>